


    <h1>Bienvenue <%= user.username %></h1>
    
    <div class="info-compte">
        <h3>Information du compte</h3>
        <div class="info-compte-2">
            <div class="presentation">
                <h3>Prénom : </h3>
                <h3>Email : </h3>
            </div>
            <div class="presentation">
                <h3><%= user.username %></h3>
                <h3><%= user.email %></h3>            
            </div>
        </div>
    </div>
    <form method="POST">
        <button type="submit">Déconnexion</button>
    </form>


