<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/stylenavbar.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/formulaire.css">
  <title>categorie</title>
</head>
<body class="categorie">
  <%- include('./partials/navbar.ejs') %>
  <ul class="liencategorie">
    <li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam voluptate</a></li>
    <li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam voluptate</a></li>
    <li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam voluptate</a></li>
    <li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam voluptate</a></li>
    <li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam voluptate</a></li>
    <li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam voluptate</a></li>
    <li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam voluptate</a></li>
    <li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam voluptate</a></li>
    <li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam voluptate</a></li>
    <li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam voluptate</a></li>
    <li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam voluptate</a></li>
    <li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam voluptate</a></li>
    <li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam voluptate</a></li>
    <li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam voluptate</a></li>
    <li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam voluptate</a></li>
    <li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam voluptate</a></li>
    <li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam voluptate</a></li>
    <li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam voluptate</a></li>
  </ul>
</body>
</html>