/* ////////////////////////////////////////connexion///////////////////////////////////////// */
body {
    background-color: grey; /* Fond noir */
    font-family: 'Jolly Lodger', cursive; /* Typographie "Jolly Lodger" */
    color: rgb(0, 255, 0); /* Couleur du texte verte */
  }
  
  .container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* Fond noir transparent */
    border-radius: 5px;
    text-align: center;
  }
  
  .container h2 {
    margin-bottom: 20px;
  }
  
  .container input[type="text"],
  .container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .container input[type="email"]
{
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}    
  .container input[type="submit"]:hover {
    background-color: #45a049;
  }


/* ////////////////////////////////////////inscirption///////////////////////////////////////// */
  body {
    background-color: grey; /* Fond noir */
    font-family: 'Jolly Lodger', cursive; /* Typographie "Jolly Lodger" */
    color: rgb(0, 255, 0); /* Couleur du texte verte */
  }
  
  .container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* Fond noir transparent */
    border-radius: 5px;
    text-align: center;
  }
  
  .container h2 {
    margin-bottom: 20px;
  }
  
  .container input[type="text"],
  .container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .container input[type="submit"]:hover {
    background-color: #45a049;
  }

  .emailinput {
    display: block;
    margin:auto;
  }