<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Formulaire de Connexion</title>
  <link href="https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/stylenavbar.css">
  <link rel="stylesheet" href="/css/formulaire.css">
</head>
<body>
  <%- include('./partials/navbar.ejs') %>
  <div class="container">
    <h2>inscription</h2>
    <form method="POST">
      <input type="text" name="username" placeholder="Nom d'utilisateur" required><br>
      <input type="password" name="password" placeholder="Mot de passe" required><br>
      <input  class="emailinput" type="email" name="email" placeholder="Email" required><br>
      <input type="submit" value="Se connecter">
    </form>
  </div>
</body>
</html>