body {
    background-color: grey; /* Fond noir */
    font-family: 'Jolly Lodger', cursive; /* Typographie "Jolly Lodger" */
    color: rgb(0, 255, 0); /* Couleur du texte verte */
  }



  /* page catégorie  */

  .categorie {
    font-family: 'Roboto';
  }

  .liencategorie {
    display: block;
    margin: auto;
    padding: 1em;
    font-family: 'Roboto';
  }

/* ///////////////////////////////////////   */

  