<% if(user) { %>
  <nav class="navbar">
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" class="menu-btn">
      <span class="bars"></span>
    </label>
    <ul class="menu">
      <li><a href="#" class="btn">Accueil</a></li>
      <li><a href="/categorie" class="btn">Catégorie</a></li>
      <li><a href="/account" class="btn">Compte</a></li>
      <li><a href="#" class="btn">À propos</a></li>
      if(isAdmin){ %>
        <li><a href="#" class="btn">Add</a></li>
      <% } %>
      
    </ul>
  </nav>
<% } else { %>
  <nav class="navbar">
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" class="menu-btn">
      <span class="bars"></span>
    </label>
    <ul class="menu">
      <li><a href="#" class="btn">Accueil</a></li>
      <li><a href="/inscription" class="btn">Inscription</a></li>
      <li><a href="/connexion" class="btn">Connexion</a></li>
      <li><a href="#" class="btn">À propos</a></li>
    </ul>
  </nav>
<% } %>
